
.circular-card .img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.circular-card2 .img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
.circular-card3 .img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.circular-card4 .img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

 

 .circgroup {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  
  .circular-card img {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
  }
  
  .c1name,
  .c2name,
  .c3name{
    margin-left: 40px;
  }
  .c4name {
    margin-top: 10px;
    margin-left: 20px;
  }
  