.desc{
    justify-content: center;
}

.desc .leftside{
    max-height: 500px;
    max-width: 500px;

}

.desc .leftside .poster-img{
    width: 500px;
    height: 500px;
    border-radius: 5rem;
    padding: 10%;
}

.desc .rightside{
    margin-left: 500px;
    margin-top: -350px;
    padding-left: 20%;
}

.desc .rightside .price{
    font-size: 15px;
    color: #B8B3B3;
    margin-top: 5px;
    position: absolute;
}
.desc .rightside .city{
    font-size: 18px;
    color: #B8B3B3;
    margin-top: 50px;
}
.desc .rightside .Venue{
    font-size: 18px;
    color: #B8B3B3;
    margin-top: 10px;
}

.desc .rightside .description{
    width: 800px;
    font-size: 22px;
    color: black;
    word-spacing: 2px;
    margin-top: 15px;
}
.desc .rightside .trailer-button {
    border: none;
    border-radius: 10px;
    background-color: #6D6AF8;
    color: black;
    font-weight: 500;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content; /* Adjust width to fit content */
}
/* .desc .rightside .trailer-button .tr-button{
    background-color: none;
    border: none;
} */

.desc .rightside .trailer-button:hover {
    background-color: #5856d6;
}

.desc .rightside .book-ticket-button{
    border: none;
    border-radius: 10px;
    background-color: #E5635A;
    color: black;
    font-weight: 500;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    width: fit-content; 
    text-decoration: none;
}
.desc .rightside .book-ticket-button:hover {
    background-color: #9c433d;
}

