@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.lottie-container{
    width: 40rem;
}
.active{
    background: #4DD470;
    border: 1px solid #4DD470;
}
.toggleEmail,.toggleMobile{
    border: 1px solid #4DD470;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif;
}
input[type = "email"], input[type = "password"]{
    padding: 0.5rem;
    border: none;
    width: 300px;
    border-bottom: 1px solid black;
    outline: none;
}
.loginBtn{
    margin: 1rem;
}
.toggleEmail:hover,.toggleMobile:hover{
    background: #4DD470;
    border: #fff 1px solid;
    color: #fff;
    transition: 0.5s ease-in all;
}
input[type = "email"]:focus, input[type = "password"]:focus{
    border-bottom: 1px solid #0569B6;
    transition: 0.2s ease-in-out all;
}
