*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form-container{
    display: inline-block;
    border: 1px solid black;
}
.lottieAnimate{
    width: 2rem;
}