.lottie-load{
    max-width: 100%;
}
.lottie{
    width: 30%;
    justify-content: center;
    position: relative;
    align-items: center;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.loading-text p{
    text-align: center;
    justify-content: center;
    font-size: 25px;
}