.input-wrapper {
    display: inline-block;
    position: relative;
  }
  
  .input-wrapper input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    padding-left: 50px;
    width: 400px; 
    margin-top: 40px;
    margin-left: 60px;
    transition: all 0.3s ease; 
  }
  
  .input-wrapper input:focus {
    outline: none;
    border-color: #007bff; 
  }
  .input-wrapper img.search-icon {
    position: absolute;
    top: 50%;
    margin-left: 40px;
    margin-top: 18px;
    left: 30px; 
    transform: translateY(-50%);
    width: 20px; 
    height: auto;
  }
  .input-wrapper input::placeholder {
    color: #999; 
  }
  