.signupform{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 100vh;
}

form{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sign-up-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 400px;
    align-items: center;
    height: 100vh;
    text-align: center;
}
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;

  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  #name,#email,
  #password,#confirmPassword,#mobile {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .register-btn{
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .or {
    text-align: center;
    margin: 10px 0;
    font-weight: italic;
    color: #555;
    position: relative;
  }

  .lottie{
    width: 35%;
  }
  
  .or::before,
  .or::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
  }
  
  .or::before {
    left: 0;
  }
  
  .or::after {
    right: 0;
  }
  
  .additional-links {
    text-align: center;
    font-style: italic;
    font-size: 12px;
  }

  a{
    cursor: pointer;
  }
  
  .additional-links #showLoginForm {
    display: block;
    width: 100%;
    background-color: #dd4b39;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .additional-links #showLoginForm:hover {
    background-color: #c53727;
  }

  .social-links{
    display: inline;
  }

  .social-links img{
    width: 12%;
    padding: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1), 10px 10px 30px 4px rgba(45,78,255,0.15);
  }
  
  .additional-links a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 15px;
  }
  
  .additional-links a:hover {
    text-decoration: underline;
  }
  